
<div class="arrow"> CarLand </div>
<div class="block"><input type="text" [(ngModel)]="filterQuery" placeholder="Search Brand or Name or Price or Date" (input)="search($event.target.value)" class="search">
  <ul>
    <li 
      *ngFor="let item of slideItems;let i = index"
      [@move]="i == counter ? direction : direction+'-inactive'"
    >
      <img
      [attr.src]="item.src"
      alt="item.title">
    </li>
   <li><button (click)="showPreviousImage()" class="arr_l" ></button> 
     <button (click)="showNextImage()" class="arr_r"></button></li> 
  </ul>
  
 
</div>
  <table class="bordered" matSort (matSortChange)="sortData($event)">
    <thead>
      <tr>
        <th mat-sort-header="brand">Brand</th>
        <th mat-sort-header="name">Name</th>
        <th >Transmission</th>
        <th mat-sort-header="data">Date</th>
        <th> Age </th>
        <th mat-sort-header="price">Price</th>
      <th><button routerLink="/register" class="btn" (click)="showReactiveForm = !showReactiveForm"> Add car</button></th> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let el of car  ; let i = index "
        [ngStyle]="{'background-color': visibility == true && el.price < '400000 '? 'red':  'white' }"
        [appcolortable]=" color ">
        <td><div [innerHTML]="el.brand | highlight : filterQuery"></div></td>
        <td><div [innerHTML]="el.name | highlight : filterQuery"></div></td>
        <td><div [innerHTML]="el.transmission | highlight : filterQuery"></div></td>
        <td><div [innerHTML]="el.data | date:'yyyy' | highlight : filterQuery"></div></td>
        <td>{{el.data | age }}</td>
        <td><div [innerHTML]="el.price| highlight : filterQuery"></div></td>
        <td><button (click)="showDialog = !showDialog" class="btn" (click)="editChanging(i) ">Delete</button></td>
        <td><button routerLink="/edit" (click)="showEditForm = !showEditForm " class="btn" (click)="editChanging(i)">
            Edit
            car</button>
        </td>
      </tr>
    </tbody>
  </table>

<app-popup [(visible)]="showDialog" [editNumber]="editNumber" [editChanging]="editChanging" [delete]="elements">
  <h1>Do you want delete?</h1>
</app-popup>
<app-reactiveforms [(visible)]="showReactiveForm" [add]="elements"></app-reactiveforms>
<app-edit [edit]="elements" [editNumber]="editNumber" [editChanging]="editChanging" [(visible)]="showEditForm ">
</app-edit>