body{
	background: linear-gradient(to right, #F6EFD2, #cedef1);
	max-width: 1335px;
	padding: 70px; 
	position: absolute;
	margin: auto;
	margin-left: 150px;
}
.light {
	background-color:rgb(124, 124, 218);
	font-weight: 600;
  }
